{%extends 'base.html'%}

{% block content %}
<div class="mx-auto col-sm-5">
  <h4>Welcome to Michael's Financial Platform!</h4>
  <h6>To join, please sign up with a username and password</h6>
  <form method="POST" id="user_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <button class="btn btn-success btn-block btn-lg">Sign Up</button>
  </form>
</div>
{%endblock%}